{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "id-length": [
      "warn",
      {
        "min": 2,
        "exceptions": [
          "_"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "fixStyle": "separate-type-imports"
      }
    ],
    "no-console": [
      "warn"
    ],
    "import/extensions": [
      "error",
      "ignorePackages"
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ]
  },
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": [
        "*.test.ts",
        "*.spec.ts",
        "**/__tests__/**"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
